<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="style.css">
</head>
<body class="login-page">

    <main>
        <div class="login-container">
            <h1>Login</h1>
            <form class="login-form">
                <div class="input-container">
                    <input type="email" id="email" name="email" placeholder="Email" required>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill input-icon" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                    </svg>
                </div>

                <div class="input-container">
                    <input type="password" id="password" name="password" placeholder="Password" required>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill input-icon" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4m0 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
                    </svg>
                </div>
                <div class="options">
                    <label><input type="checkbox" name="remember"><h5>Remember me</h5></label>
                    <a href="#" class=""><b>Forgot password?</b></a>
                </div>
                <button type="submit" class="submit-btn">Log in</button>
                <div class="register-link">
                    Don't have an account? <a href="register.html">Register</a>
                </div>
            </form>
        </div>
    </main>
    
</body>
</html>